
/* App.css */
.Home {
  display: flex;
  height: 100vh;
  background-color: #242424;
}

.Home.dark-mode {
  background-color: #353535;
}

.sidebar {
  flex: 0 0 250px;
  background: #242424;
  height: 100%;
  overflow-y: auto;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  margin-left: 250px; /* Match this to the sidebar width */
  padding: 20px;
  transition: margin-left 0.3s ease-in-out;
}



/* Media Query for Smaller Screens */
@media (max-width: 768px) {
  .main-content {
    margin-left: 200px; /* Match this to the reduced sidebar width */
  }
}

@media (max-width: 576px) {
  .main-content {
    margin-left: 0;
    margin-top: 60px; /* Add top margin to avoid overlap with the sidebar */
  }
}