.explore-page {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .explore-page header {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
  }
  
  .explore-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    max-width: 1000px; /* Adjust this value as needed */
    width: 100%;
  }
  
  .explore-item {
    position: relative;
    overflow: hidden;
  }
  
  .explore-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .explore-item:hover img {
    transform: scale(1.1);
  }
  
  .explore-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .explore-item:hover .explore-overlay {
    opacity: 1;
  }
  
  .explore-overlay h3, .explore-overlay p {
    margin: 5px 0;
    text-align: center;
  }