/* LandingPage.css */
.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #E1E0DC;
    text-align: center;
    overflow: hidden;
  }
  
  .landing-page h1 {
    font-size: 48px;
    color: #000000;
  }

  .intro{
  position: absolute;
  right:50;
  top:50;
  padding-right: 2%;
  padding-bottom: 10%;
  }

  .title{
    color:#74be8a;
  }

  .bottomContent{
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 2%;
  padding-bottom: 10%;
  max-width: 600px;
  display:flex;
  flex-direction: column;
  row-gap:10px;
  }
  
  .landing-page p {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .button-group button {
    background-color: #858585;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .button-group button:hover {
    background-color: #74be8a;
    transition-timing-function: ease;
    transition: .5s;
    font-size: 26px;
  }

  .button-group button::after {
    background-color: #858585;
    transition-timing-function:ease-out;
    transition: 1s;
    font-size: 16px;
  }
  .landingPageContent{
    z-index: 10;
  }
  
  .bgIMG{
    z-index: -1;
    position:absolute;
    height:100%;
    width:auto;
    bottom:0;
    right:0;
    display: flex;
    align-items: center;
    justify-content: center;
  }