.profile-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  height: 100vh;
  padding-left: 20%;
  background-color: #242424;
  overflow-y: hidden;
}

.profile-wrapper {
  display: flex;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.profile-card {
  background-color: #242424;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
  text-align: center;
  width: 100vw;
  margin-right: 20px; /* Adds space between profile card and posts */
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile-card h2 {
  margin-bottom: 10px;
}

.profile-stats {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  color:#fafafa;
}

.profile-stat {
  text-align: center;
}

.profile-stat strong {
  display: block;
  font-size: 1.2em;
}

.profile-card p {
  margin-bottom: 5px;
  color: #666;
}

.logout-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

.logout-button:hover {
  background-color: #e60000;
}

.feed-container {
  flex-grow: 1;
  background-color: #242424;
  color:#fafafa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
  width: 100%;
  max-width: 800px; /* Limit the width of the feed container */
}

.feed-item {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.feed-item img {
  width: 100%;
  max-width: 600px; /* Control max image width */
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.feed-item p {
  font-size: 14px;
  color: #333;
}
