.tournament-page {
    padding: 20px;
    font-family: Arial, sans-serif;
  }

  h2{
    color:#fafafa;
  }

  .pageContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
  }

  .TopSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    column-gap: 20px;
  }

  .tournamentSearchbar{
    height: 30px;
    
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .tournament-list,
  .create-tournament,
  .user-dashboard,
  .search-filter {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
  }
  
  .tournament-list{
    column-gap: 20px;
  }

  .tournament {
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
    backdrop-filter: blur(10px); /* Apply blur effect to background */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    border: 1px solid rgba(255, 255, 255, 0.4); /* Subtle white border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
    border-radius: 15px; /* Round corners for smoother appearance */
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth hover effect */
    color:#fafafa;
}

.tournament:hover {
    transform: scale(1.02); /* Slight scale on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
}

  
  .tournament img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .tournament h3 {
    margin: 10px 0;
  }
  
  .tournament p {
    margin: 5px 0;
  }
  
  .tournament button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .create-tournament form {
    display: flex;
    flex-direction: column;
  }
  
  .create-tournament label {
    margin-bottom: 10px;
  }
  
  .create-tournament input,
  .create-tournament textarea,
  .create-tournament button {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .create-tournament button {
    cursor: pointer;
  }

  .marker {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
  }
  
  .participant-marker {
    background-color: yellow;
    color: black;
  }
  
  .creator-marker {
    background-color: green;
  }
  
  
  @media (max-width: 768px) {
    .tournament {
      flex-direction: column;
    }
  
    .create-tournament form {
      width: 100%;
    }
  }
  