
/* App.css */
.Home {
  display: flex;
  height: 100vh;
  background-color: #f0f2f5;
}

.Home.dark-mode {
  background-color: #353535;
}

.sidebar {
  flex: 0 0 250px;
  background: #fff;
  height: 100%;
  overflow-y: auto;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

/*
.app {
  display: flex;
}

.content {
  flex: 1;
  padding: 20px;
}
*/

