/* Feed.css */
.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .post {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .post-header {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .post-image {
    width: 100%;
    border-bottom: 1px solid #ddd;
  }
  
  .post-description {
    padding: 10px;
    padding-left:3%;
  }  

  .post-actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 8%;
    padding-left:3%;
    margin-top: 10px;
  }
  
  .post-actions a {
    font-size: 1.5em; /* Adjust the size of the icons */
    color: #333;
    transition: color 0.3s;
  }
  
  .post-actions a:hover {
    color: #007bff; /* Change the color on hover */
  }
  