.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding-left: 250px; /* Adjust this to match the width of the sidebar */
}

.modal-content {
  background: white;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 300px;
  transition: all 0.3s;
}

.Home.dark-mode .modal-content {
  background: #333;
  color: white;
}

.modal-body {
  display: flex;
  flex-direction: column;
}

.modal-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.dark-mode-toggle {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dark-mode-toggle:hover {
  background-color: #0056b3;
}

.Home.dark-mode .dark-mode-toggle {
  background-color: #4a4a4a;
}

.Home.dark-mode .dark-mode-toggle:hover {
  background-color: #6a6a6a;
}
